.navbar {
    background-color: #FF8C00 !important;     
  }
  .navbar-brand {
    color: #f7f7f7 !important;
    padding: 10px 10px 10px 10px;
  }
  .nav-link{
      color: #f7f7f7 !important;
  }
  
  .anasayfa {
    cursor: pointer;
    color:#f7f7f7 !important;
  }
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.Leftspace{
    margin-left: 3rem !important;
}
.profileimg{
 height: 50px;
 width: 50px;
 border-radius: 60%;
}

@media screen and (max-width: 992px) {
    
.Leftspace{
    margin-left:1rem !important;
}
  }