<div class="container">
  {{#if message}}
    <div style="text-align: center" class="alert alert-{{message.type}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{message.intro}}</strong> {{message.message}}
    </div>
    {{/if}}
<div class="row">
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/default.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/singlepage" class="btn btn-primary w-100">Go somewhere</a>
  </div>
</div>
  </div>
    <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/default.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/singlepage" class="btn btn-primary w-100">Go somewhere</a>
  </div>
</div>
  </div>
    <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/default.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/singlepage" class="btn btn-primary w-100">Go somewhere</a>
  </div>
</div>
  </div>
    <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/default.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/singlepage" class="btn btn-primary w-100">Go somewhere</a>
  </div>
</div>
  </div>
</div>
  </div>
