
<div class="login-form box-login">
  <form action="/user/reset/{{user}}/{{token}}" method="post">
    <h2 class="text-center">Şifreni sıfırla</h2>
    <div class="form-group">
      <input class="form-control" name="password" type="password" placeholder="Yeni şifreniz" required="required"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Sıfırlama maili gönder</button>
    </div>
  </form>
   <style type="text/css">
   .login-form {
    width: 40%;
  
    margin: 50px auto ;
  }
  .login-form form {
    width: 100%;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form h2 {
    margin: 0 0 15px;
  }
  .form-control,
  .btn {
    min-height: 38px;
    border-radius: 2px;
  }
  .btn {
    font-size: 15px;
    font-weight: bold;
  }
  
  .content {
    display: flex;
    justify-content: center;
  }
  .content .hesapac {
    margin-left: 10px;
  }
  .form-control {
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
  }
  .form-control:focus {
    background: #e2e2e2;
  }
  .form-control,
  .btn {
    border-radius: 3px;
  }

  /* sign up */
  .signup-form {
    width: 376px;
    margin: 30px auto;
  }
  .signup-form form {
    color: rgb(138, 4, 4);
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .first-last-name {
    flex-wrap: nowrap !important;
  }
  .signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
  }
  .signup-form hr {
    margin: 0 -30px 20px;
  }
  .signup-form .form-group {
    margin-bottom: 20px;
  }
  .signup-form input[type="checkbox"] {
    margin-top: 3px;
  }
  .signup-form .row div:first-child {
    padding-right: 10px;
  }
  .signup-form .row div:last-child {
    padding-left: 10px;
  }
  .signup-form .btn {
    font-size: 20px;
    font-weight: bold;
    background: #32cd32;
    border: none;
    min-width: 140px;
  }
  .signup-form .btn:hover,
  .signup-form .btn:focus {
    background: #2389cd !important;
    outline: none;
  }
  .signup-form a {
    color: #fff;
    text-decoration: underline;
  }
  .signup-form a:hover {
    text-decoration: none;
  }
  .signup-form form a {
    color: #3598dc;
    text-decoration: none;
  }
  .signup-form form a:hover {
    text-decoration: underline;
  }
  .signup-form .hint-text {
    padding-bottom: 15px;
    text-align: center;
  }
  img.logo{
  
 float: left;
 margin:0;
 height:auto;
 width: min(50vw, 90px);
 
}
.carousel-item.active img{
  width:286px !important;
  height:286px !important;
  background-size: cover;
}

.orange{
  background-color: #FF8C00 !important ;
}

.navbar {
    background-color: #FF8C00 !important;     
  }
  .navbar-brand {
    color: #f7f7f7 !important;
    padding: 10px 10px 10px 10px;
  }
  .nav-link{
      color: #f7f7f7 !important;
  }
  
  .anasayfa {
    cursor: pointer;
    color:#f7f7f7 !important;
  }
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.Leftspace{
    margin-left: 3rem !important;
}
.profileimg{
 height: 58px;
 width: 50px;
 border-radius: 60%;
}
.dropdownmargin{
  margin-left: 3rem !important;
}

@media screen and (max-width: 992px) {
    
.Leftspace{
    margin-left:1rem !important;
}
.dropdownmargin{
  margin-left: 0 !important;
}
  }

    </style>
</div>
