   {{#if göster}}
   <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                   Sorry, an error has occurred, log out to access the requested page.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="/contact" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
   {{/if}}
   {{#unless göster}}
<div class="signup-form">
  <form action="/user/register" method="POST">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account!</p>
    <hr/>
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="name" required="required"/>
    </div>
     <div class="form-group">
      <input class="form-control" type="text" name="surname" placeholder="surname" required="required"/>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" required="required"/>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password" required="required"/>
    </div>
     <div class="form-group">
      <input class="form-control" type="text" name="mobilenumber" placeholder="mobile number" required="required"/>
    </div>
     <div class="form-group">
      <input class="form-control" type="text" name="addresline" placeholder="adress" required="required"/>
    </div>
     <div class="form-group">
      <input class="form-control" type="text" name="Country" placeholder="Country" required="required"/>
    </div>
     <div class="form-group">
      <input class="form-control" type="text" name="City" placeholder="City" required="required"/>
    </div>
     <div class="form-group">
      <input class="form-control" type="text" name="district" placeholder="district" required="required"/>
    </div>
    <div class="form-group">
      <label class="checkbox-inline">
        <input type="checkbox" required="required"/> I accept the<a href="#">Terms of Use</a> &amp;<a href="#">Privacy Policy</a>
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="hint-text">Already have an account? <a href="/login">Login here</a></div>
</div>
{{/unless}}